<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="navbar" class="navbar">
    <a class="nav-brand" th:href="@{/}">TaskMaster</a>
    <div class="nav-links">
        <a sec:authorize="isAuthenticated()" th:href="@{/todos}">My Tasks</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
    </div>
</nav>
</body>
</html>